.container {
  width: calc(100% - 1em);
  height: calc(100% - 1em);
  padding: 0.5em;
  align-content: center;
  justify-items: center;
}
.container .filterContainer {
  position: fixed;
  top: 65px;
  width: 100%;
  height: 100px;
  background: #fff;
  display: grid;
  z-index: 3;
}
.container .filterContainer div {
  padding: 0.5em;
  display: flex;
  gap: 5px;
  align-content: center;
}
.container .filterContainer div div {
  background: #fff;
  width: max-content;
  height: max-content;
}
.container .filterContainer .menu {
  position: absolute;
  right: 20px;
  top: 40px;
  width: max-content;
  background: #fff;
  z-index: 20;
  display: grid;
  padding: 0.5em;
  border-radius: 10px;
  box-shadow: 0px 0px 3px #25252588;
}
.container .filterContainer .menu button {
  text-align: start;
  border: none;
  background: none;
  padding: 0.5em;
}
.container .filterContainer .menu button:hover {
  background: #ededed;
}
.container .filterContainer .menu h2 {
  display: none;
}
.container .filterContainer .buttons {
  display: flex;
  gap: 10px;
  justify-items: center;
}
.container .filterContainer .buttons button {
  flex: 1;
  border: none;
  background: rgba(211, 208, 208, 0.596);
  padding: 0.5em;
  border-radius: 5px;
  max-width: 300px;
}
.container .div {
  position: absolute;
  top: 105px;
  border-radius: 5px;
  display: flex;
  gap: 5px;
  max-height: calc(100% - 100px);
  overflow-y: auto;
  overflow-x: hidden;
}
.container .div .book {
  width: 400px;
  height: 100px;
  border-radius: 10px;
  padding: 0.5em;
  display: grid;
  background: #fff;
  margin-top: 10px;
}
.container .div .book .info {
  width: 100%;
  padding: 0;
  display: grid;
  gap: 10px;
  border-bottom: 1px solid #ededed;
  grid-template-columns: repeat(2, 1fr);
}
.container .showBooking {
  width: 100%;
  height: calc(100% - 70px);
  background: #fff;
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  overflow: auto;
}
.container .showBooking .qrCode,
.receiptContainer {
  position: relative;
  height: 100vh;
  background: #fff;
  align-content: center;
  justify-items: center;
}
.container .showBooking .qrCode .code {
  padding: 1em;
  border-radius: 10px;
}
.container .showBooking .qrCode .label {
  width: calc(100% - 1em);
  height: 100px;
  background: #8e2de2;
  border-radius: 10px;
  padding: 0.5em;
  color: #fff;
  margin-bottom: 10px;
}
.container .showBooking .receiptContainer .receipt {
  padding: 0.5em;
  background: #f5f7fa;
  box-shadow: 0px 0px 3px #ededed;
  width: 60%;
}
.container .showBooking .receiptContainer .receipt .logo {
  width: calc(100% - 1em);
  height: calc(100% - 1em);
  padding: 0.5em;
  background: #8e2de2;
  border-radius: 10px;
  display: flex;
  color: #fff;
}
.container .showBooking .receiptContainer .receipt .body {
  width: 100%;
  display: grid;
  gap: 3px;
  border-top: 3px dotted #fff;
}
.container .showBooking .receiptContainer .receipt .body div {
  width: calc(100% - 1em);
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.container .showBooking .receiptContainer .receipt .btnContainer {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
}
.container .showBooking .receiptContainer .receipt .btnContainer button {
  border: none;
  border-radius: 10px;
  font-size: large;
  color: #fff;
  padding: 0.5em;
}
.container .showBooking .paymentForm {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100vh;
  align-content: center;
  justify-items: center;
  background: #00000062;
  backdrop-filter: blur(2px);
}
.container .showBooking .paymentForm .form .current {
  background: #8e2de2;
  border-radius: 20px;
}
.container .showBooking .paymentForm .form {
  padding: 0.5em;
  background: #fff;
  border-radius: 10px;
  width: 40%;
  display: grid;
  gap: 10px;
}
.container .showBooking .paymentForm .form div {
  display: grid;
}
.container .showBooking .paymentForm .form div input {
  box-shadow: inset 0px 0px 3px black;
  border: none;
  outline: none;
  padding: 0.5em;
}
.container .showBooking .paymentForm .form div button {
  padding: 0.5em;
  border: none;
  background: #8e2de2;
  color: #fff;
  border-radius: 10px;
  font-size: large;
}
.container .showBooking .paymentForm .form div select {
  border: none;
  padding: 0.5em;
  color: grey;
  background: #ededed;
  outline: none;
}

@media (max-width: 700px) {
  .container {
    padding: 0;
    width: 100%;
    height: 100%;
    padding-top: 0.5em;
    z-index: 1;
  }
  .container .filterContainer .menu h2 {
    display: block;
  }
  .container .filterContainer .menu {
    position: fixed;
    top: calc(100% - 250px);
    width: calc(100% - 1em);
    height: 250px;
    z-index: 2;
    left: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #252525c0;
    box-shadow: 0px 2px 4px #252525;
    display: grid;
    color: #fff;
    backdrop-filter: blur(2px);
  }
  .container .filterContainer .menu button {
    padding: 0.5em;
    font-size: large;
    padding-left: 1em;
    text-align: start;
    color: #fff;
    background: none;
    border: none;
  }
  .container .filterContainer .menu button:hover {
    background: #686666a2;
  }
  .container .div {
    width: 100%;
    padding: 0;
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    background: none;
    z-index: 2;
  }
  .container .div .book {
    width: calc(95% - 1em);
    margin-left: 2.5%;
    background: #fff;
    font-size: small;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
  }
  .container .showBooking {
    grid-template-columns: 1fr;
  }
  .container .showBooking .qrCode .label {
    position: absolute;
    top: 20px;
    width: calc(90% - 1em);
  }
  .container .showBooking .receiptContainer .receipt {
    width: 90%;
  }
  .container .showBooking .paymentForm {
    background: #00000062;
    backdrop-filter: blur(2px);
  }
  .container .showBooking .paymentForm .form {
    width: calc(90% - 1em);
    padding: 1em;
  }
}
