.container {
  width: 100%;
  height: 100%;
  justify-content: center;
  justify-items: center;
  padding: 0.5em 0em;
}
.container .mapContainer {
  position: absolute;
  left: 5px;
  width: 70%;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.container .mapContainer .locationName {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.106);
  z-index: 10;
  backdrop-filter: blur(1px);
  align-content: center;
  justify-items: center;
}
.container .mapContainer .locationName .form {
  position: relative;
  padding: 1em;
  background: #00000086;
  border-radius: 10px;
  display: grid;
  gap: 10px;
  width: 60%;
  backdrop-filter: blur(5px);
}
.container .mapContainer .locationName .form input {
  text-align: center;
  outline: none;
  border: none;
  border-bottom: 2px solid snow;
  background: none;
  color: #fff;
  font-size: large;
  padding: 1em;
}
.container .mapContainer .locationName .form button {
  padding: 0.5em;
  border-radius: 10px;
  border: none;
  background: blue;
  color: #fff;
  font-size: large;
}
.container .formContainer {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 70%;
  height: calc(100% - 60% - 20px);
  margin-top: 10px;
  background: #0000009b;
  border-radius: 10px;
  z-index: 10;
  color: #fff;
}
.container .formContainer .name {
  width: calc(100% - 1em);
  height: max-content;
  padding: 0.5em;
  text-align: center;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.container .formContainer .name input {
  outline: none;
  border: none;
  background: none;
  border-bottom: 2px solid snow;
  text-align: center;
}
.container .formContainer .spots {
  width: calc(100% - 1em);
  padding: 0.5em;
}
.container .formContainer .spots .spot {
  width: 100%;
  display: grid;
  gap: 20px;
  margin-top: 20px;
}
.container .formContainer .spots .spot input {
  border: none;
  border-bottom: 2px solid snow;
  background: none;
  text-align: center;
  color: #fff;
  outline: none;
}
.container .formContainer .spots .spot button {
  width: 80%;
  padding: 0.5em;
  margin-left: 10%;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: larger;
  background: blue;
}
.container .info {
  width: calc(30% - 20px);
  height: calc(100% - 10px);
  position: absolute;
  right: 5px;
  background: #fff;
  border-radius: 10px;
}
.container .info .nameAndLogo {
  width: calc(100% - 1em);
  height: 200px;
  padding: 0.5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container .info .nameAndLogo .logoContainer {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.container .info .nameAndLogo .logoContainer img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.container .info .locationInfo {
  width: calc(100% - 1em);
  height: calc(100% - 230px);
  padding: 0.5em;
}
.container .info .locationInfo .infoItem {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #2b2ec735;
  border-radius: 10px;
  border-left: 5px solid blue;
  padding-left: 0.5em;
  align-content: center;
  height: 70px;
  justify-items: center;
}
.container .info .locationInfo .infoItem button {
  position: absolute;
  right: 10px;
  top: 15%;
  height: 80%;
  cursor: pointer;
}
.container .info .locationInfo .levelsAndSpots {
  width: calc(100% - 1em);
  max-height: calc(100% - 80px - 1em);
  padding: 0.5em;
  background: #8d2de23b;
  margin-top: 5px;
  border-radius: 10px;
  border-top: 5px solid #8e2de2;
  overflow-y: auto;
}
.container .info .locationInfo .infoShimmering {
  position: relative;
  width: 100%;
  height: 100%;
  background: #252525;
}
.container .info .locationInfo .infoShimmering .line {
  position: absolute;
  left: 10px;
  bottom: 0;
  height: 80%;
  width: 10px;
  background: #fff;
  animation: lightMove 1s linear infinite;
}
@keyframes lightMove {
  from {
    box-shadow: 10px 0px 2px #d30101;
  }
  to {
    box-shadow: 0px 0px 5px 2px #d30101;
  }
}
.container .info .locationInfo .infoShimmering .lineTwo {
  position: absolute;
  right: 10px;
  bottom: 0;
  height: 80%;
  width: 10px;
  background: #fff;
}
.container .info .locationInfo .infoShimmering img {
  position: absolute;
  top: 10%;
  height: 80%;
  width: 80%;
  left: 10%;
}
