.container {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
}
.container .topBar {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 1em);
  padding: 0.5em;
  height: calc(70px - 1em);
  z-index: -1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #fff;
}
.container .topBar .logoContainer {
  position: absolute;
  top: 0;
  width: 70px;
  height: 100%;
  border-radius: 50%;
}
.container .topBar .logoContainer img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.container .topBar .name {
  position: absolute;
  left: 80px;
  height: 80%;
  top: 20%;
}
.container .topBar .profile {
  position: absolute;
  top: calc(50% - 25px);
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-items: center;
  align-content: center;
  border: 1px solid grey;
  cursor: pointer;
  z-index: 2;
}
.container .topBar .profile .icon {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
}
.container .leftPanel {
  width: calc(200px - 1em);
  height: calc(100% - 75px - 1em);
  padding: 0.5em;
  position: absolute;
  top: 75px;
  left: 0;
  background: #fff;
  box-shadow: 0px 2px 3px #ad9b9b84;
}
.container .leftPanel .buttonContainer {
  display: grid;
  gap: 2px;
}
.container .leftPanel .buttonContainer button {
  text-align: start;
  padding: 0.3em;
  padding-left: 0.5em;
  border: none;
  background: none;
  transition: 0.3s ease;
}
.container .leftPanel .buttonContainer button:hover {
  padding-left: 1.3em;
  color: grey;
}
.container .leftPanel .decor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 100px;
  margin-left: 5%;
  margin-bottom: 20px;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.305);
}

.container .content {
  position: absolute;
  top: 75px;
  left: 200px;
  width: calc(100% - 200px);
  height: calc(100% - 75px);
}
.container .menu {
  position: absolute;
  top: 75px;
  right: 10px;
  width: 200px;
  height: 400px;
  padding: 0.5em;
  background: #0000006e;
  box-shadow: 0px 0px 3px #808080b9;
  border-radius: 10px;
}
@media (max-width: 900px) {
  .container .leftPanel {
    width: 150px;
    font-size: 0.95em;
  }
  .container .content {
    left: 150px;
    width: calc(100% - 150px);
  }
}

@media (max-width: 600px) {
  .container {
    position: static;
    height: auto;
  }
  .container .topBar {
    position: static;
    width: 100%;
    height: auto;
    border-radius: 0;
    font-size: 1em;
  }
  .container .leftPanel {
    position: static;
    width: 100%;
    height: auto;
    background: #888;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding: 0.5em 0;
    font-size: 1em;
  }
  .container .content {
    position: static;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    background: #111;
    padding: 1em 0.5em;
  }
}
