.container {
  width: calc(100% - 1em);
  height: calc(100% - 1em);
  padding: 0.5em;
}
.container .top {
  width: 100%;
  height: 30%;
  display: flex;
  gap: 5px;
}
.container .top .div {
  flex: 1;
  background: #fff;
  border-radius: 5px;
}
.container .top .div .upperInfo {
  width: 100%;
  height: 60%;
}
.container .top .div .upperInfo .numbers {
  width: calc(100% - 1em);
  height: 40%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 1em;
  justify-items: center;
  gap: 20px;
  overflow: hidden;
}
.container .top .div .upperInfo .numbers .number {
  flex: 1;
  display: grid;
  align-content: top;
  gap: 0px;
  height: max-content;
  padding: 0px;
}
.container .top .div .upperInfo .lines {
  width: 100%;
  height: 30%;
}
.container .top .div .upperInfo .labels {
  width: 100%;
  height: 30%;
}
.container .top .div .lower {
  width: 100%;
  height: 40%;
}
.container .bottom {
  width: 100%;
  height: calc(70% - 5px - 0.4em);
  margin-top: 5px;
  justify-items: center;
  padding-top: 0.4em;
  background: #ededed;
  border-radius: 10px;
}
.container .bottom .searchContainer {
  width: 90%;
  height: 60px;
  background: #00000071;
  align-content: center;
  text-align: center;
  border-radius: 10px;
  backdrop-filter: blur(3px);
}
.container .bottom .searchContainer input {
  width: 95%;
  height: 80%;
  outline: none;
  border-radius: 10px;
  border: none;
  border: 1px solid grey;
  text-align: center;
}
.container .bottom .display {
  position: relative;
  width: 100%;
  height: calc(100% - 65px);
  margin-top: 5px;
  justify-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.container .bottom .display .parkings {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.container .bottom .display .parking {
  width: calc(100% - 1em);
  padding-right: 0.5em;
  padding-left: 0.5em;
  height: 60px;
  background: #fff;
  margin-top: 3px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  z-index: 1;
}
.container .bottom .display .parking div {
  flex: 1;
  align-content: center;
  text-align: center;
  font-size: large;
}
.container .bottom .display .parking .text {
  flex: 1;
}
.container .bottom .display .parking div button {
  border: none;
  padding: 0.5em;
  width: 100px;
  height: 60%;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  z-index: 10;
}
.container .bottom .display .addGate {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #ededed8a;
  backdrop-filter: blur(2px);
  align-content: center;
  justify-items: center;
}
.container .bottom .display .addGate .form {
  padding: 0.5em;
  background: #fff;
  width: 60%;
  height: 60%;
  border-radius: 10px;
  box-shadow: 0px 0px 30px #8080805e;
}
.container .bottom .display .addGate .form .parkingName {
  width: 100%;
  height: 50px;
  align-content: center;
}
.container .bottom .display .addGate .form .parkingLevelInfo {
  width: 100%;
  height: 80px;
  display: flex;
  gap: 20px;
}
.container .bottom .display .addGate .form .parkingLevelInfo div {
  flex: 1;
  align-content: center;
  text-align: center;
  font-size: larger;
  display: flex;
}
.container .bottom .display .addGate .form .parkingLevelInfo div p {
  flex: 1;
}
.container .bottom .display .addGate .form .dataForm {
  width: 100%;
  height: calc(100% - 130px);
  display: grid;
}
.container .bottom .display .addGate .form .dataForm div {
  display: flex;
  gap: 5px;
  padding: 0.5em;
}
.container .bottom .display .addGate .form .dataForm div input,
select {
  flex: 1;
  height: 30%;
  outline: none;
  border: 1px solid grey;
  text-align: center;
  border-radius: 10px;
  padding: 0.5em;
}
.container .bottom .display .addGate .form .dataForm div select {
  height: max-content;
}
.container .bottom .display .addGate .form .dataForm div button {
  width: 60%;
  margin-left: 20%;
  height: 80%;
  font-size: larger;
  background: blue;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
.container .bottom .display .closeOrOpen {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ededed7e;
  top: 0px;
  left: 0px;
  align-content: center;
  justify-items: center;
  backdrop-filter: blur(2px);
}
.container .bottom .display .closeOrOpen .confirm {
  padding: 0.5em;
  background: #fff;
  width: 60%;
  height: 20%;
  border-radius: 10px;
  box-shadow: 0px 0px 100px grey;
  display: grid;
}
.container .bottom .display .closeOrOpen .confirm div {
  display: flex;
  gap: 40px;
  text-align: center;
}
.container .bottom .display .closeOrOpen .confirm div button {
  flex: 1;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}
.container .bottom .display .closeOrOpen .confirm div button:hover {
  transform: translateY(-5px);
}
.container .infoContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #ededed;
}
.container .infoContainer .parkingInfo {
  width: calc(100% - 1em);
  height: calc(40% - 1em);
  padding: 0.5em;
  display: flex;
  gap: 5px;
}

.container .infoContainer .parkingInfo .map {
  width: 300px;
}
.container .infoContainer .parkingInfo .chart {
  flex: 1;
  background: #fff;
  border-radius: 10px;
  display: grid;
  gap: 10px;
}

.container .infoContainer .parkingInfo .more {
  width: 300px;
  display: grid;
  gap: 10px;
}
.container .infoContainer .parkingInfo .more div {
  background: #fff;
}
.container .infoContainer .recentPayment {
  width: calc(100% - 1em);
  height: calc(60% - 1em);
  padding: 0.5em;
  justify-items: center;
}
.container .infoContainer .recentPayment .searchContainer {
  width: 80%;
  height: 60px;
  background: #80808077;
  text-align: center;
  align-content: center;
  border-radius: 5px;
}
.container .infoContainer .recentPayment .searchContainer input {
  width: 90%;
  height: 80%;
  outline: none;
  border: 1px solid #ededed;
  border-radius: 10px;
  text-align: center;
}
.container .infoContainer .recentPayment .displayContainer {
  width: calc(100% - 1em);
  height: calc(100% - 62px - 1em);
  margin-top: 2px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5em;
}
.container .infoContainer .recentPayment .displayContainer .booking {
  width: calc(100% - 1em);
  padding: 0.5em;
  height: 60px;
  background: #fff;
  margin-top: 5px;
  border-radius: 5px;
  display: flex;
  gap: 2px;
}
.container .infoContainer .recentPayment .displayContainer .booking div {
  flex: 1;
  align-content: center;
  text-align: center;
}
