.container {
  width: 100%;
  height: 100%;
}
.container .boxContainer {
  width: calc(100% - 1em - 0.5em);
  margin-left: 0.5em;
  height: calc(300px - 1em);
  background: #e3e3e3;
  padding: 0.5em;
  display: flex;
  gap: 2px;
  border-radius: 5px;
}
.container .boxContainer .activity,
.topUsers {
  flex: 1;
  background: #fff;
}
.container .boxContainer .activity {
  display: flex;
  gap: 2px;
}
.container .boxContainer .activity .div {
  flex: 1;
  gap: 1px;
  height: 140px;
  width: 100%;
  height: 100%;
}
.container .boxContainer .activity .div div {
  align-content: center;
  justify-items: center;
  text-align: center;
}
.container .boxContainer .topUsers {
  display: flex;
  gap: 5px;
}
.container .boxContainer .topUsers .leftUser {
  width: 30%;
  border-radius: 10px;
}
.container .boxContainer .topUsers .leftUser .goldenProfile {
  position: relative;
  width: 100%;
  height: 60%;
  align-content: center;
  text-align: center;
}
.container .boxContainer .topUsers .leftUser .goldenInfo {
  width: 100%;
  height: 40%;
}
.container .boxContainer .topUsers .leftUser .goldenInfo div {
  padding-left: 1em;
  font-weight: bolder;
}
.container .boxContainer .topUsers .leftUser .goldenInfo div button {
  width: 60%;
  margin-left: calc(20% - 1em);
  padding: 0.5em;
  border-radius: 10px;
  border: none;
  background: blue;
  color: #fff;
}
.container .boxContainer .topUsers .heatMapAndChart {
  flex: 1;
}
.container .boxContainer .topUsers .heatMapAndChart .doughnut {
  width: 100%;
  height: 40%;
  display: flex;
}
.container .boxContainer .topUsers .heatMapAndChart .heatMap {
  position: relative;
  width: calc(100% - 1em);
  height: calc(60% - 1em);
  padding: 0.5em;
}
.container .boxContainer .topUsers .heatMapAndChart .doughnut .labels {
  width: 60%;
  height: 100%;
  display: flex;
  gap: 2px;
}
.container .boxContainer .topUsers .heatMapAndChart .doughnut .labels div {
  flex: 1;
  text-align: center;
}
.container .boxContainer .topUsers .heatMapAndChart .doughnut .theChart {
  flex: 1;
  justify-items: center;
}
.container .userContainer {
  width: calc(100% - 1em);
  height: calc(100% - 305px - 1em);
  padding: 0.5em;
}
.container .userContainer .searchContainer {
  width: 100%;
  height: 50px;
  background: #e3e3e3;
  border-radius: 10px;
  text-align: center;
  align-content: center;
}
.container .userContainer .searchContainer input {
  width: 80%;
  height: 80%;
  outline: none;
  border-radius: 10px;
  border: 0.5px solid rgba(128, 128, 128, 0.451);
  text-align: center;
  color: black;
}
.container .userContainer .users {
  position: relative;
  width: calc(100% - 1em);
  height: calc(100% - 55px - 1em);
  margin-top: 5px;
  background: #e3e3e3;
  padding: 0.5em;
}
.container .userContainer .users .user {
  width: calc(100% - 1em);
  height: calc(55px - 1em);
  padding: 0.5em;
  background: #fff;
  display: flex;
  gap: 2px;
  border-radius: 5px;
  margin-bottom: 1px;
}
.container .userContainer .users .user .profile {
  width: 40px;
  height: 40px;
  background: rgb(137, 137, 136);
  border-radius: 50%;
  align-content: center;
  text-align: center;
}
.container .userContainer .users .user .info {
  flex: 1;
  align-content: center;
  text-align: center;
}
.container .userContainer .users .editUser {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ededed79;
  backdrop-filter: blur(2px);
  align-content: center;
  justify-items: center;
}
.container .userContainer .users .editUser .editUserForm {
  width: 60%;
  height: 60%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 3px #25252551;
  display: grid;
}
.container .userContainer .users .editUser .editUserForm .userName {
  width: calc(100% - 0.5em);
  height: 30px;
  font-size: larger;
  padding-left: 0.5em;
  padding-top: 0.5em;
}
.container .userContainer .users .editUser .editUserForm div {
  width: 100%;
  text-align: center;
}
.container .userContainer .users .editUser .editUserForm .userName button {
  border-radius: 0px;
  padding: 0.5em;
  cursor: pointer;
}
.container .userContainer .users .editUser .editUserForm .userName .current {
  background: #8e2de2;
  color: #fff;
}
.container .userContainer .users .editUser .editUserForm div input {
  width: 60%;
  padding: 0.5em;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  text-align: center;
  outline: none;
}
.container .userContainer .users .editUser .editUserForm div textarea {
  width: 80%;
  padding: 0.5em;
  height: 80px;
  border: 0.2px solid #00000036;
  outline: none;
  border-radius: 10px;
  align-content: center;
  text-align: center;
}
.container .userContainer .users .editUser .editUserForm div button {
  width: 40%;
  margin-left: 30px;
  padding: 0.5em;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.container .userInfoContainer {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.18);
  width: 100%;
  height: 100%;
  align-content: center;
  justify-items: center;
  backdrop-filter: blur(2px);
}
.container .userInfoContainer .userInfo {
  position: relative;
  padding: 0.5em;
  padding: 0.5em;
  background: #fff;
  width: 70%;
  height: 70%;
  border-radius: 10px;
}
.container .userInfoContainer .userInfo .desc {
  width: 100%;
  height: 30%;
  display: flex;
  box-shadow: 0px 2px 4px #ededed;
}
.container .userInfoContainer .userInfo .desc .userProfile {
  width: 30%;
  height: 100%;
  align-content: center;
  text-align: center;
  display: flex;
}
.container .userInfoContainer .userInfo .desc .userProfile .infos {
  flex: 1;
  height: 60%;
  margin-top: 10%;
}
.container .userInfoContainer .userInfo .desc .userProfile .infos div {
  align-content: end;
  text-align: start;
  border-bottom: 1px solid #80808057;
  padding-left: 1em;
  height: max-content;
}
.container .userInfoContainer .userInfo .desc .userProfile .profile {
  width: 40%;
  height: 100%;
}
.container .userInfoContainer .userInfo .desc .bookingInfo {
  width: calc(70% - 1em);
  height: calc(100% - 1em);
  padding: 0.5em;
  display: flex;
  gap: 5px;
}
.container .userInfoContainer .userInfo .desc .bookingInfo div {
  flex: 1;
  background: #fff;
  display: grid;
  padding-left: 1em;
}
.container .userInfoContainer .userInfo .desc .bookingInfo .bookingStatus {
  align-content: center;
  box-shadow: 0px 0px 3px #ededed;
}
.container .userInfoContainer .userInfo .userBookings {
  width: 100%;
  height: 68%;
  margin-top: 1%;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0px 0px 3px #ededed;
}
.container .userInfoContainer .userInfo .userBookings .div {
  box-shadow: 2px 1px 3px #ededed;
  overflow: auto;
}
.container .userInfoContainer .userInfo .userBookings .div .label {
  width: calc(100% - 1em);
  height: calc(30px - 1em);
  padding: 0.5em;
}
.container .userInfoContainer .userInfo .userBookings .div .display {
  width: 100%;
  height: calc(100% - 32px);
  margin-top: 2px;
  justify-items: center;
  overflow-y: auto;
}
.container .userInfoContainer .userInfo .userBookings .div .display .booking {
  width: 100%;
  height: 40px;
  background: #fff;
  display: flex;
}
.container
  .userInfoContainer
  .userInfo
  .userBookings
  .div
  .display
  .booking
  div {
  flex: 1;
  align-content: center;
  text-align: center;
}
.color-empty {
  fill: #ededed;
}

.color-selected {
  fill: #fe7c01e1;
}
