.pageContainer {
  padding: 2rem;
  width: 100%;
  margin: auto;
  color: #000000;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.pageContainer p {
  text-align: start;
}
.gradientBg {
  position: absolute;
  left: 0px;
  top: 0px;
  min-height: 100vh;
  width: calc(100% - 1em);
  padding: 0.5em;
  overflow-x: hidden;
  justify-items: center;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
  width: max-content;
  padding: 0.5em;
}

.galleryItem {
  background: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.209);
  color: #000000;
  text-align: start;
  max-width: 300px;
  max-height: 500px;
}

.galleryItem img {
  width: 80%;
  border-radius: 8px;
  margin-bottom: 0.8rem;
  height: 80%;
  margin-left: 10%;
}
@media (max-width: 700px) {
  .gallery {
    width: 100%;
    margin-left: 0px;
  }
  .gallery,
  .galleryItem {
    padding: 1rem;
    border-radius: 12px;
    font-size: smaller;
  }
  .galleryItem img {
    width: 100%;
    margin-left: 0px;
  }
}
