.body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(
    135deg,
    #dfe9f3 0%,
    #ffffff 30%,
    #abc9dc 60%,
    #e2ebf0 100%
  );
  position: relative;
  overflow: hidden;
}

.body::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgb(255, 255, 255) 1px, transparent 3px);
  background-size: 40px 40px;
  z-index: -1;
  opacity: 0.2;
}
.body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background:
    radial-gradient(
      circle at 20% 30%,
      rgba(56, 218, 213, 0.6),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 70%,
      rgba(40, 213, 205, 0.4),
      transparent 50%
    ),
    radial-gradient(circle at 50% 50%, rgba(60, 102, 202, 0.3), transparent 60%);
  pointer-events: none;
  z-index: -1;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .logoContainer {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.container .logoContainer img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.container .formContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: max-content;
  background: rgba(255, 255, 255, 0.362);
  border-radius: 10px;
  padding: 1em;
  text-align: center;
  animation: slideIn 0.5s ease-out;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
.container .formContainer input {
  width: 90%;
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 5px;
  border: 1px solid grey;
}
.container .formContainer button {
  width: 90%;
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 5px;
  border: none;
  background: black;
  color: #fff;
  font-size: large;
  justify-items: center;
}
.container .formContainer .loginButton {
  background: #00000068;
}
.container .formContainer .loginButton div {
  width: 30px;
  height: 30px;
  background: conic-gradient(
    from 0deg,
    #10b5d2,
    #fff,
    #10b5d2,
    #fff,
    #10b5d2,
    #fff,
    #10b5d2
  );
  border-radius: 50%;
  animation: rotate 1s ease-out infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 500px) {
  .container .logoContainer {
    position: absolute;
    top: 20px;
    left: calc(50% - 100px);
    width: 200px;
    height: 200px;
  }
  .container .logoContainer img {
    position: absolute;
    top: 0;
    left: 0;

    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}
