.container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  align-content: center;
  justify-items: center;
}

.container .reader {
  width: 300px;
  height: 300px;
}
.container .confirmation {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  width: 400px;
  height: 400px;
  align-content: center;
  justify-items: center;
  text-align: center;
  border-radius: 50%;
  backdrop-filter: blur(5px);
  animation: resize 1s ease;
}
